<div class="table-responsive">
    <table mat-table [dataSource]="(tasks() | filter : statusFilter())">
        <!-- Title Column -->
        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef>Title</th>
            <td mat-cell *matCellDef="let element">{{element.title}} </td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let element">{{element.status}} </td>
        </ng-container>

        <!-- Due Date Column -->
        <ng-container matColumnDef="dueDate">
            <th mat-header-cell *matHeaderCellDef>Due Date</th>
            <td mat-cell *matCellDef="let element">{{element.dueDate}} </td>
        </ng-container>

        <!-- Operation Column -->
        <ng-container matColumnDef="operation">
            <th mat-header-cell *matHeaderCellDef>Operation</th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button aria-label="edit icon" (click)="openDialog(element)">
                    <mat-icon color="primary">edit</mat-icon>
                </button>
                <button mat-icon-button aria-label="edit icon" (click)="remove(element)">
                    <mat-icon color="primary">delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr *matNoDataRow>
            <td colspan="4" class="table-loading">Table is Empty</td>
        </tr>
    </table>
</div>