@use "../../../../../theme/core/environments/environments" as env;

.table-responsive {
    overflow-x: auto;
}
table {
    white-space: nowrap;
}
.table-loading {
    font-size: 16px;
    font-weight: 500;
    padding: 16px;
    text-align: center;
    color: env.$bs-red;
}